# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
# Build outputs
dist/
dist-ssr/

# Environment files
.env
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Frontend build folders
Frontend-HealPoint/dist/
Frontend-HealPoint/node_modules/

# Admin build folders
Admin-HealPoint/dist/
Admin-HealPoint/node_modules/

# Backend build folders
Backend-HealPoint/dist/
Backend-HealPoint/node_modules/

# Optional npm cache folder
.npm

# Optional REPL history
.node_repl_history

# Misc
*.tsbuildinfo
